body{
	margin:5% 10%;
	background-image: url(Trees_1400x900-1024x658.png);
}

#main{
	height: 100%;
	padding: 5%;
	border-radius: 10px;
	background-color: white;
}

.buffer {
	width: 50%;
}

#card{
	height: 100%;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin-left: 5%;
	margin-right: 5%;
}

#card1{
	height: 100%;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin-left: 5%;
	margin-right: 5%;
}


#theWeb {
	height: 29.5rem;
	width: 100%;
	border: none;
}
#play {
	margin-top: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.row {
	transition: 0.3s;
}


.jumbotron{
	padding: 3%;
	border-radius: 15px;
}

div .form-group{
	width: 85%;
}
.form-inline .form-control{
	width: 90%;
}
form{
	margin-bottom: 4%;
	align-content: auto;
}
button{
	margin-left: 10px;
	width:100px;
}
textarea{
	margin-top: 3%;
}
